.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.twonavigationlinks
 {
  width: 100vh;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-around;}
