.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.twonavigationlinks
 {
  width: 100vh;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-around;}
/* .flexiblecenter
{
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px}
  .pushend
  {
    float: inline-end;
  }
  .pushstart
  {
    float: inline-start;
  } */
